<table id="checkout-table" width='100%' border='1'>
  <thead>
    <tr>
      <td>Quantity</td>
      <td>Product</td>
      <td>Sub-Total</td>
      <td>Tax</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <% order.order_items.each do |item| %>
    <tr>
      <td style="font-weight: 600">
        <%= item.quantity %>
        <% unless defined?(readonly) %>
          <span>
            <%= link_to "+", adjust_basket_item_quantity_path(item.id), :method => :post, :class => 'ajax' %>
            <%= link_to "-", adjust_basket_item_quantity_path(item.id), :method => :delete, :class => 'ajax' %>
          </span>
        <% end %>
      </td>
      <td>
        <%= link_to item.ordered_item.full_name, product_path(item.ordered_item.permalink) %>
        <% unless defined?(readonly) %>
          <%= link_to "Delete", remove_basket_item_path(item), :method => :delete, :class => 'delete ajax' %>
        <% end %>
      </td>
      <td><%= number_to_currency item.sub_total %></td>
      <td><%= number_to_currency item.tax_amount %></td>
      <td><%= number_to_currency item.total %></td>
    </tr>
    <% end %>

    <% if order.delivery_service %>
      <tr class="delivery">
        <td class="method" colspan="4">
          <% if defined?(readonly) %>
            <%= order.delivery_service.name %>
          <% else %>
            <%= form_tag change_delivery_service_path do  %>
              <%= select_tag 'delivery_service', options_from_collection_for_select(order.available_delivery_services, :id, :name, order.delivery_service.id) %>
            <% end %>
          <% end %>
        </td>
        <td class="money">
          <%= number_to_currency order.delivery_price %>
        </td>
      </tr>
    <% end %>

  </tbody>
  <tfoot>
    <tr>
      <td colspan='4'>Sub-Total</td>
      <td><%= number_to_currency order.total_before_tax %></td>
    </tr>
    <tr>
      <td colspan='4'>Tax</td>
      <td><%= number_to_currency order.tax %></td>
    </tr>
    <tr>
      <td colspan='4'>Total</td>
      <td><%= number_to_currency order.total %></td>
    </tr>
  </tfoot>
</table>