<div class="container">
    <h2>Place Your Order</h2>
    <p>Fantastic! You're ready to place your order, just follow the instructions below and we'll get your products shipped to you as quickly as we can.</p>
    <p>Complete your details below to complete your order</p>

    <div class="row">
        <%= form_for @order, :url => checkout_path do |f| %>
            <dl class="col-md-4">
                <dt><%= f.label :first_name, 'First Name*' %></dt>
                <dd><%= f.text_field :first_name, :required => true %></dd> 

                <dt><%= f.label :last_name, 'Last Name*' %></dt>
                <dd><%= f.text_field :last_name, :required => true  %></dd>
                <dt><%= f.label :email_address %></dt>
                <dd><%= f.text_field :email_address %></dd>

                <dt><%= f.label :phone_number %></dt>
                <dd><%= f.text_field :phone_number %></dd>
            </dl>
                <dl class="col-md-4">
                <dt><%= f.label :billing_address1, 'Address1*' %></dt>
                <dd><%= f.text_field :billing_address1, :required => true  %></dd>
                <dt><%= f.label :billing_address2, 'Address2 (optional)' %></dt>
                <dd><%= f.text_field :billing_address2 %></dd>
                <dt><%= f.label :billing_address3, 'City*' %></dt>
                <dd><%= f.text_field :billing_address3, :required => true  %></dd>
                <dt><%= f.label :billing_address4, 'State*' %></dt>
                <dd><%= f.text_field :billing_address4, :required => true  %></dd>
                <dt><%= f.label :billing_postcode, 'Post Code*' %></dt>
                <dd><%= f.text_field :billing_postcode, :required => true  %></dd>
                <dt><%= f.label :billing_country_id, 'Country*'%></dt>
                <dd><%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true, :required => true  %></dd>
                <dd>
            </dl>
          <div class="col-md-4">  
            
            <h3>Order Summary</h3>

            <table>
              <tbody>
                <tr>
                  <td><strong>Sub-Total:</strong></td>
                  <td><strong><%= number_to_currency @order.total_before_tax %></strong></td>
                </tr>
                </tbody><tbody>
                </tbody>
                <tbody><tr>
                  <td><strong>Total:</strong></td>
                  <td><strong><span><%= number_to_currency @order.total %></span></strong></td>
                </tr>
              </tbody>
            </table>

            <%= f.submit 'Continue' %></dd>
            <% end %>

          </div>


    </div>

    <!-- <p>Review the products in your shopping bag</p> -->
    <% if false %>
    <%= render 'items', :order => @order %>
    <% end %>
</div> 
